/* Animation */
$anmFast = .2s
$anmNormal = .3s
$anmSlow = .4s

/*----------  Animation Test  ----------*/
animation(
    $name,
    $duration = 2s,
    $infinite = infinite,
    $fill-mode = forwards
  ){
    animation-name $name
    animation-duration $duration
    animation-iteration-count $infinite
    animation-fill-mode $fill-mode
}

.m_anime
  fx-c()
  margin-top 2.4rem
  >.dv_rect-anime
    width 150px
    height 150px
    // border-radius 50%
    background-color pink
    border 4px solid $cBlack
    animation(
      $name: dv_bounce2
    )
    // animation dv_bounce 1s infinite
    // animation dv_bounce 1.5s
    // animation-timing-function ease-in-out
    // animation-delay 2s
    // animation-iteration-count infinite
    // animation-direction alternate
    // animation-fill-mode forwards
    // transform scale(1)
    &.paused
      animation-play-state paused

@keyframes dv_bounce
  0%,30%
    transform scale(0)
  100%
    transform scale(1)

@keyframes dv_bounce2
  0%
    background-color orange
    transform scale(0)
  100%
    background-color teal
    transform scale(1)
    border-radius 50%
