/* Animation */
$anmFast = .2s
$anmNormal = .3s
$anmSlow = .4s

/*----------  Animation Global Function ----------*/
animation(
    $name,
    $duration = 1s,
    $timing-function = ease,
    $iteration-count = 1, // infinite
    $fill-mode = forwards,
  ){
    animation-name $name
    animation-duration $duration
    animation-timing-function: $timing-function
    animation-iteration-count $iteration-count
    animation-fill-mode $fill-mode
}

/*
  animation dv_bounce 1s infinite
  animation dv_bounce 1.5s
  animation-timing-function ease-in-out
  animation-delay 2s
  animation-iteration-count infinite
  animation-direction alternate
  animation-fill-mode forwards
  transform scale(1)
*/
.m_anime
  fx-c()
  margin-top 2.4rem
  >.dv_rect-anime
    width 150px
    height 150px
    // border-radius 50%
    background-color pink
    border 4px solid $cBlack
    animation(
      $name: dv_bounce,
      $iteration-count: infinite
    )
    &.paused
      animation-play-state paused
