/* Animation */
$anmFast = .2s
$anmNormal = .3s
$anmSlow = .4s

/*----------  Animation Global Function ----------*/
animation(
    $name,
    $duration = 2s,
    $iteration-count = 1, // infinite
    $fill-mode = forwards
  ){
    animation-name $name
    animation-duration $duration
    animation-iteration-count $iteration-count
    animation-fill-mode $fill-mode
}

.m_anime
  fx-c()
  margin-top 2.4rem
  >.dv_rect-anime
    width 150px
    height 150px
    // border-radius 50%
    background-color pink
    border 4px solid $cBlack
    animation(
      $name: dv_bounce,
      $iteration-count: infinite
    )
    &.paused
      animation-play-state paused
