/*----------  Block ----------*/
fx()
  display flex

fx-c()
  fx()
  align-items center
  justify-content center

fx-jc-e()
  fx()
  justify-content flex-end

fx-ai-e()
  fx()
  align-items flex-end


/*----------  Set Class  ----------*/
.fx
  fx()

.fx-c
  fx-c()

.fx-jc-e
  fx-jc-e()

.fx-ai-e
  fx-ai-e()