/* Block */
fx()
  display flex

fx-c()
  fx()
  align-items center
  justify-content center

fx-j-e()
  fx()
  justify-content flex-end

fx-a-e()
  fx()
  align-items flex-end

.fx
  fx()

.fx-c
  fx-c()

.fx-d-col
  flex-direction columns
