/* Color */
$cBlack = #1c1d22
$cGray = lighten($cBlack, 20%)
$cGray-light = lighten($cBlack, 70%)
$cWhite = #f9f9f9

$gradBlue-top = rgba(2,0,36,1)
$gradBlue-center = rgba(9,9,121,1)
$gradBlue-bottom = rgba(0,212,255,1)

$gradBlue = linear-gradient(135deg, $gradBlue-top 0%, $gradBlue-center 35%, $gradBlue-bottom 100%)

gradient($start-color, $center-color, $end-color)
  background: linear-gradient(135deg, $start-color 0%, $center-color 35%, $end-color 100%)

// TODO: Add Shadow
/*---------- Shadow  ----------*/

