.anime-contents__ly
  .fx-c.anime-action-name__og
    .anime-action-name__ml
      p Action
  .fx-c
    button.btn.is-anime-contents__up Animation Up
    button.btn.is-anime-contents__down Animation Down
    button.btn.is-anime-contents__left Animation Left
    button.btn.is-anime-contents__right Animation Right
    button.btn.is-anime-contents Animation Play
  .anime-contents__og
    .anime-contents__ml.appear
      img.item(src="https://picsum.photos/1200/800/?image=554")
      img.item(src="https://picsum.photos/1200/800/?image=436")
      img.item(src="https://picsum.photos/1200/800/?image=398")
      img.item(src="https://picsum.photos/1200/800/?image=392")
      img.item(src="https://picsum.photos/1200/800/?image=252")
      img.item(src="https://picsum.photos/1200/800/?image=288")
      img.item(src="https://picsum.photos/1200/800/?image=141")
      img.item(src="https://picsum.photos/1200/800/?image=554")
      img.item(src="https://picsum.photos/1200/800/?image=436")
      img.item(src="https://picsum.photos/1200/800/?image=398")
      img.item(src="https://picsum.photos/1200/800/?image=392")
      img.item(src="https://picsum.photos/1200/800/?image=252")
      img.item(src="https://picsum.photos/1200/800/?image=288")
      img.item(src="https://picsum.photos/1200/800/?image=141")
      img.item(src="https://picsum.photos/1200/800/?image=554")
      img.item(src="https://picsum.photos/1200/800/?image=436")
