//- .tex-anime__button.fx-jc-e(onclick="document.querySelector('.tex-anime__ml').classList.toggle('is-anime')")

.tex-anime__button.fx-jc-e
  button.btn Animation

.tex-anime__ly
  .tex-anime__og
    .tex-anime__ml
      span.char H
      span.char Y
      span.char P
      span.char E
      span.char -
      span.char T
      span.char E
      span.char X
      span.char T

