.is-animation
  .org
    .mol__jsAnim
      h1.h1 TextAnimation
      h2.sub_title Try!

    .js-tex-anime__button.fx-jc-e
      button.btn Animation
    br
    .js-tex-anime__ly
      .js-tex-anime__og
        .js-tex-anime__ml Play TextAnimation
