.m_loader-dot
  .bounce.b-1
  .bounce.b-2
  .bounce.b-3
  .bounce
  .bounce

.m_loader-3d
  .a_loader-3d
//- .m_anime
//-   .dv_rect-anime
//-   button(onclick="document.querySelector('.dv_rect-anime').classList.toggle('paused')") Stoped

.m_loader-wave
  .a_loader-wave
  .a_loader-wave

.m_loader-rect
  .a_loader-rect
  .a_loader-rect
  .a_loader-rect
  .a_loader-rect
  .a_loader-rect
  .a_loader-rect
  .a_loader-rect