.slide-image__lay
  .slide-image__org
    //- .slide-image__mol.inview.hover-darken
      img.item(src="https://dummyimage.com/1200x600/4794b8/fff.jpg", alt="")

    .slide-image__mol.inview
      .item.bg-img-zoom