.slide-image__lay
  .slide-image__org
    //- スライド演出 & Hoverアニメーション
    .slide-image__mol.inview.hover-darken
      img.item(src="https://picsum.photos/1200/800/?image=1012", alt="")

    //- 背景画像で同様のパターン
    //- .slide-image__mol.inview
      .item.bg-img-zoom