.l__anime-title
  .g__anime-title
    .m__anime-title
      span.char H
      span.char Y
      span.char P
      span.char E
      span.char R
      span.char -
      span.char T
      span.char E
      span.char X
      span.char T

  .g__anime-button
    .fx-c
      button.btn(onclick="document.querySelector('.m__anime-title').classList.toggle('is-anime')") Anime


