.image-contents__lay
  .image-contents__og
    .image-contents__ml
      .images
        padding 2rem
        background $cGray-light
        img
          width 500px
          height 200px
          object-fit cover // NOTE: can not IE11
        .bg-img
          margin-top 2rem
          // background-image url("https://dummyimage.com/600x400/4794b8/fff.jpg") no-repeat center
          background-image url("https://dummyimage.com/600x400/4794b8/fff.jpg")
          background-repeat no-repeat
          background-size contain
          // background-size cover
          background-position: left 50% bottom 50%
          width 500px
          height 200px
