.is-debug
  .org
    .mol
      margin-top 2.4rem
      padding 3.2rem 2.4rem
      font-size 2rem
      line-height 1.8
      border 2px solid lighten($cGray-light, 30%)
      border-radius 12px
      letter-spacing: 1px

      h2, h3, p
        margin-top 2rem
        font-size 2rem
        color tomato
      h2
        font-size 3.2rem
        color navy
        font-weight 800

      h3
        font-size 2.4rem
        color tomato
      p
        font-size 1.8rem

      sub
        display block
        margin-top 1rem
        width 100%
        font-size 1.6rem
        color lighten(teal, 10%)
        line-height 1.5
