.m_loader-dot
  text-align center
  >.bounce
    display inline-flex
    width 18px
    height 18px
    background $cBlack
    border-radius 50%
    // Set Animation
    animation loader-bounce 1.2s infinite
    &.b-1
      animation-delay: -.32s
    &.b-2
      animation-delay: -.16s

@keyframes loader-bounce
  0%
    opacity 0
    transform scale(0)
  50%
    opacity 1
    transform scale(1)
  100%
    opacity 0
    transform scale(0)

/*----------  Animation Test  ----------*/
animation(
    $name,
    $duration = 2s,
    $infinite = infinite
  ){
    animation-name $name
    animation-duration $duration
    animation-iteration-count $infinite
}

.m_anime
  fx-c()
  margin-top 2.4rem
  >.dv_rect-anime
    width 150px
    height 150px
    // border-radius 50%
    background-color pink
    border 4px solid $cBlack
    animation(
      $name: dv_bounce
    )
    // animation dv_bounce 1s infinite
    // animation dv_bounce 1.5s
    // animation-timing-function ease-in-out
    // animation-delay 2s
    // animation-iteration-count infinite
    // animation-direction alternate
    // animation-fill-mode forwards
    // transform scale(1)
    &.paused
      animation-play-state paused

@keyframes dv_bounce
  0%,30%
    transform scale(0)
  100%
    transform scale(1)
