.m_loader-dot
  text-align center
  >.bounce
    display inline-flex
    width 16px
    height 16px
    // border 2px solid $cBlack
    background $cBlack
    border-radius 50%
    // Set Animation
    // animation loader-bounce 1.2s infinite
    animation(
      $name: loader-bounce,
      $iteration-count: infinite
    )
    for num in (1..5)
      &:nth-child({num})
        animation-delay (num * 0.12)s
    // &.b-1
    //   animation-delay: -.32s
    // &.b-2
    //   animation-delay: -.16s

.m_loader-3d
  perspective: 50px * 2
  .a_loader-3d
    margin 50px auto
    // background $cBlack
    background $gradBlue
    // gradient(red, orange, teal)
    width 50px
    height 50px
    animation(
      $name: sppier ,
      $iteration-count: infinite
    )


/*----------  Keyframes  ----------*/

@keyframes dv_bounce
  0%,30%
    transform scale(0)
  100%
    transform scale(1)

@keyframes dv_bounce2
  0%
    background-color orange
    transform scale(0)
  100%
    background-color teal
    transform scale(1)
    border-radius 50%

@keyframes loader-bounce
  0%
    opacity 0
    transform scale(0)
  50%
    opacity 1
    transform scale(1)
  100%
    opacity 0
    transform scale(0)

@keyframes sppier
  0%
    // transform: perspective(100px) rotateX(0deg) rotateY(0deg)
    transform rotateX(0deg) rotateY(0deg)
  50%
    transform rotateX(-180deg) rotateY(0deg)
  100%
    transform rotateX(-180deg) rotateY(180deg)


/*
  animation dv_bounce 1s infinite
  animation dv_bounce 1.5s
  animation-timing-function ease-in-out
  animation-delay 2s
  animation-iteration-count infinite
  animation-direction alternate
  animation-fill-mode forwards
  transform scale(1)
*/