.mobile-menu-icon
  background-color transparent
  border none
  &:focus
    outline none
  &:hover
    cursor pointer
  >span
    display block
    background-color $cBlack
    width 35px
    height 2px
    border-radius 2px
    transition all .4s
    &:not(:last-child)
      margin-bottom 9px
    &:nth-child(2)
      background-color crimson

// open
.menu-open
  background-color rgba($cBlack, .5)
  .section
    button.btn
      opacity .5
      pointer-events none
  .mobile-menu-icon
    >span
      background-color $cWhite
      &:nth-child(1)
        transition-delay .1s
        $rad = 90
        transform translateY(11px) rotate(135deg)
      &:nth-child(2)
        background-color blue
        transition-delay .3s
        transform translateX(18px) scaleX(0)
      &:nth-child(3)
        transition-delay .1s
        transform translateY(-11px) rotate(-135deg)
