.l__anime-title
  .g__anime-title
    background-color orange
    // shadow-default()
    shadow(12px, gray, .7)
    fx-c()
    padding 2.4rem
    .m__anime-title
      .char
        color $cWhite
        font-size 3.2rem
        letter-spacing: 4px
      &.is-anime
        >.char
          color #000

  .g__anime-button
    margin-top 2.4rem