.tex-anime
  &__og
    background $cGray-light
    padding .1rem
    fx-c()
  &__ml
    padding 2.4rem
    font-family 'Comfortaa', cursive
    font-size 3.2rem
    font-weight 600
    // color #000