
/* Button UI */
$btnRadius = calc(1.2rem * 4)

btnBefore()
  content ""
  position absolute
  top 0
  left 0
  display inlin-block
  width 100%
  height 100%
  transition all $anmNormal
  z-index -1

button.btn
  position relative
  font-size 1.6rem
  height 4rem
  width 16rem
  background $cWhite
  border-radius calc(1.2rem * 4)
  border .2rem solid $cBlack
  // transition color 1s ease .2s, background 2s ease 1s
  box-shadow 4px 4px 8px 0px rgba($cBlack, .5)
  transition all $anmNormal

  overflow hidden
  z-index 1
  cursor pointer

  /* Button UI hover Normal */
  &.float
    &:hover
      cursor pointer
      color $cWhite
      background $cBlack
      // box-shadow 8px 8px 15px 0px rgba($cBlack, .7)
      box-shadow 2px 2px 5px 0px rgba($cBlack, .1)
      border-width 0
      transform translate(2px, 2px)
    &:focus
      outline: none
      border 2px solid lightblue

  /* Button UI hover Interaction w span.tx*/
  &.slide-bgTx
    &:before
      btnBefore()
      transform translateX(-100%)
    span.tx
      position absolute
      transform translate(-50%,-50%)
    &:hover
      color $cWhite
      &:before
        background $cGray
        transform none
    &:focus
      outline: none
      border 2px solid lightblue

  /* Button UI hover Interaction w before */
  &.slide-bg
    &:before
      btnBefore()
      transform translateX(-100%)
    &:hover
      color $cWhite
      &:before
        background $cGray
        transform none
    &:focus
      outline: none
      border 2px solid lightblue
      position relative
    &.tip
      &:focus
        &:after
          content " Send!"
          font-size 1.2rem
          color orange
          // position absolute
          // top: 1.2rem
          // right: 1.2rem

  /* Button UI hover Interaction 3D */
  &.cover-3d
    transform-style: preserve-3d
    perspective: 120px
    overflow visible
    transition: all $anmSlow
    &:before
      border-radius $btnRadius
      btnBefore()
      transform-origin: top center
      // transform: rotate3d(1,0,0,-90deg)
      transform: rotateX(90deg)
      background $cGray
      opacity 0
    &:hover
      color $cWhite
      &:before
        opacity 1
        transform none
    &:focus
      outline: none
      border 2px solid lightblue

  /* Button UI hover Interaction 3D Cube */
  &.btn-cube
    transform-style: preserve-3d
    perspective: 240px
    border-radius 0
    width 16rem
    height 4rem
    overflow visible
    .cube
      position absolute
      left 0
      top 0
      width 100%
      height 100%
      text-align center
      line-height calc(4rem - .4rem)
      border-radius 0
      transition: all $anmSlow
      transform-origin: center center -25px

      &.is-hover
        background $cGray
        color $cWhite
        transform: rotateX(90deg)
      &.is-default
        background $cWhite
        color $cGray
        transform rotateX(0deg)
      &:hover
        &.is-hover
          transform rotateX(0deg)
        &.is-default
          transform: rotateX(90deg)
    &:focus
      outline: none
      border 2px solid lightblue

/* Cubic sample */
.answer
  .btn
    position relative
    display inline-block
    transformstyle: preserve-3d
    perspective 300px
    width 150px
    height 50px
    margin 0 auto
    cursor pointer
    overflow hidden
    &.cubics
      .cube
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        border 1px solid $cBlack
        line-height 48px
        text-align center
        transition all 0.3s
        transform-origin center center -25px
        &.hovering
          background-color: $cBlack;
          color: $cWhite;
          transform: rotateX(90deg);
        &.default
          background-color: $cWhite;
          color: $cBlack;
          transform: rotateX(0);
          opacity 1
      &:hover
        & .hovering
          transform: rotateX(0);
        & .default
          opacity 0
          transform: rotateX(-90deg);
