/* Global Base */
*
  margin 0
  padding 0
  box-sizing border-box

html
  font-size 62.5%
body
  font-size 1.6rem
  color $cBlack
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
p
  line-height 1.5

cap.cap
  display block
  color $cGray
  line-height 2
  padding .4rem