*
  margin 0
  padding 0
  box-sizing border-box

html
  font-size 62.5%

body
  font-size 1.6rem
  color $cBlack
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

p
  line-height 1.5

.wrap
  min-height 100vh
  padding 24px
  .content
    .section
      margin 2.4rem

.footer_org
  display block
  width 100%
  position absolute
  bottom 0
  padding .8rem
  background #eee
  fx-c()
  .footer_mol
    color $cGray
    text-align center
    font-size 1.2rem

header
  fx-j-e()

cap.cap
  display block
  color $cGray
  line-height 2
  padding .4rem