*
  margin 0
  padding 0
  box-sizing border-box

html
  font-size 62.5%
body
  font-size 1.6rem
p
  line-height 1.5

$cBlack = #2d3135
$cWhite = #f9f9f9
fx()
  display flex
fx-c()
  display flex
  align-items center
  justify-content center
