<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title LP2020
    link(rel="stylesheet", href="css/style.css")
  body
    .wrap
      .content
        section.section
          cap.cap normal
          button.btn.float Button float
        section.section
          cap.cap button > text
          button.btn.slide-bgTx Button slide tx
            span.tx
        section.section
          cap.cap button include text / focus text
          button.btn.slide-bg.tip Button slide
        section.section
          cap.cap button 3D
          button.btn.cover-3d Button 3D
