<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title LP2020
    link(rel="stylesheet", href="css/style.css")
  body
    .wrap
      .content
        section.section
          button.btn.float Button
        section.section
          button.btn.slide-bg
            span.bg
            span.tx Button
        //- section.section
        //-   .rect
        //-     p rect
        //-   .rect.translate translate
        //-   .rect.rotate rotate
