@import "_base.styl"
@import "components/*"

.wrap
  min-height 100vh
  padding 24px
  // .content
  //     background teal
  .section
    margin 2.4rem

.footer_org
  display block
  width 100%
  position absolute
  bottom 0
  padding .8rem
  background #eee
  fx-c()
  .footer_mol
    color $cGray
    text-align center
    font-size 1.2rem